<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Confirmation</title>
</head>
<body>

<h5>Hello from {{ site_name }} Team,</h5>

<p>
    You're receiving this email because you requested a password reset for your user account at {{ domain }}.
</p>

<p>
    Please go to the following page and choose a new password:
    <a href="{{ protocol }}:{{ domain }}{% url 'api_v1:users:password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
</p>

<p>Your username, in case you’ve forgotten: {{ user.username }}</p>

<p>Best Regards</p>
<p>{{ site_name }}</p>
</body>
</html>