{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Activity Goals</h1>
<br>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Activity Goal ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Date</th>
            <th scope="col">Calories Burned</th>
            <th scope="col">Target Calories Burned</th>
            <th scope="col">Calories Burned Complete Status</th>
            <th scope="col">Steps</th>
            <th scope="col">Target Steps</th>
            <th scope="col">Steps Complete Status</th>
            <th scope="col">Running Distance</th>
            <th scope="col">Target Running Distance</th>
            <th scope="col">Running Distance Complete Status</th>
            <th scope="col">Flights Climbed</th>
            <th scope="col">Target Flights Climbed</th>
            <th scope="col">Flights Climbed Complete Status</th>
            <th scope="col">Is Completed</th>
        </tr>
    </thead>
    <tbody>       
        {% if activity_goals %}
        {% for goal in activity_goals %}
            <tr>
                <td>{{ goal.id }}</td>
                <td>{{ goal.user.id }}</td>
                <td>{{ goal.date }}</td>
                <td>{{ goal.calories_burn }}</td>
                <td>{{ goal.target_calories_burn }}</td>
                <td>{{ goal.calories_burn_complete_staus }}</td>
                <td>{{ goal.steps }}</td>
                <td>{{ goal.target_steps }}</td>
                <td>{{ goal.steps_complete_staus }}</td>
                <td>{{ goal.running_distance }}</td>
                <td>{{ goal.target_running_distance }}</td>
                <td>{{ goal.running_distance_complete_staus }}</td>
                <td>{{ goal.flights_climbed }}</td>
                <td>{{ goal.target_flights_climbed }}</td>
                <td>{{ goal.flights_climbed_complete_staus }}</td>
                <td>{{ goal.is_completed }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="15">No activity goals found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}