{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Sleep Tracking Data</h1>
<br>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Sleep Data ID</th>
            <th scope="col">User ID</th>
            <th scope="col">User Name</th>
            <th scope="col">Sleep Start Time</th>
            <th scope="col">Sleep End Time</th>
            <th scope="col">Sleep Duration</th>
            <th scope="col">Sleep Quality</th>
            <th scope="col">Notify</th>
        </tr>
    </thead>
    <tbody>       
        {% if sleep_data %}
        {% for sleep_entry in sleep_data %}
            <tr>
                <td>{{ sleep_entry.id }}</td>
                <td>{{ sleep_entry.user.id }}</td>
                <td>{{ sleep_entry.user.username }}</td>
                <td>{{ sleep_entry.sleep_start_time }}</td>
                <td>{{ sleep_entry.sleep_end_time }}</td>
                <td>{{ sleep_entry.sleep_duration }}</td>
                <td>{{ sleep_entry.sleep_quality }}</td>
                <td>{{ sleep_entry.notify }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7">No sleep tracking data found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}