{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Categories</h1>
<br>
<div class="mb-3">
    <a href="{% url 'api_v1:dashboard:add_category' %}" class="btn btn-outline-dark"><i class="bx bx-plus"></i> Add Category</a>
</div>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Category ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>       
        {% if category_data %}
        {% for category in category_data %}
            <tr>
                <td>{{ category.id }}</td>
                <td><img src="{{ category.category_image.url }}" alt="{{ category.name }}" width="132" height="106"></td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{% url 'api_v1:dashboard:edit_category' category.id %}" class="btn btn-outline-dark"><i class="bx bx-edit"></i> Edit</a>
                    <a href="{% url 'api_v1:dashboard:delete_category' category.id %}" class="btn btn-outline-danger"><i class="bx bx-trash"></i> Delete</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">No categories found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}