{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Foods</h1>
<br>
<div class="mb-3">
    <a href="{% url 'api_v1:dashboard:export_to_csv_food_details' %}" class="btn btn-outline-dark"><i class="bx bx-export"></i> Export to CSV</a>
    <a href="{% url 'api_v1:dashboard:add_food' %}" class="btn btn-outline-dark"><i class="bx bx-plus"></i> Add Food</a>
</div>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Food ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Cooking Difficulty</th>
            <th scope="col">Time Required (minutes)</th>
            <th scope="col">Calories</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>       
        {% if food_data %}
        {% for food in food_data %}
            <tr>
                <td>{{ food.id }}</td>
                <td><img src="{{ food.food_image.url }}" alt="{{ food.name }}" width="132" height="106"></td>
                <td>{{ food.name }}</td>
                <td>{{ food.cooking_difficulty }}</td>
                <td>{{ food.time_required }}</td>
                <td>{{ food.calories }}</td>
                <td>{{ food.author }}</td>
                <td>{{ food.description }}</td>
                <td>
                    <div class="d-flex">
                        <a href="{% url 'api_v1:dashboard:edit_food' food.id %}" class="btn btn-outline-dark flex-fill"><i class="bx bx-edit"></i> Edit</a>
                        <a href="{% url 'api_v1:dashboard:delete_food' food.id %}" class="btn btn-outline-danger flex-fill"><i class="bx bx-trash"></i> Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7">No foods found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}