{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Ingredients</h1>
<br>
<div class="mb-3">
    <a href="{% url 'api_v1:dashboard:add_ingredient' %}" class="btn btn-outline-dark"><i class="bx bx-plus"></i> Add Ingredient</a>
</div>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Ingredient ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>       
        {% if ingredient_data %}
        {% for ingredient in ingredient_data %}
            <tr>
                <td>{{ ingredient.id }}</td>
                <td><img src="{{ ingredient.ingredient_image.url }}" alt="{{ ingredient.name }}" width="100" height="100"></td>
                <td>{{ ingredient.name }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">No ingredients found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}