{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Equipment</h1>
<br>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Equipment ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>       
        {% if equipment_data %}
        {% for equipment in equipment_data %}
            <tr>
                <td>{{ equipment.id }}</td>
                <td><img src="{{ equipment.equipment_image.url }}" alt="{{ equipment.name }}" width="132" height="106"></td>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.description }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">No equipment found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}