{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Exercise Perform</h1>
<br>
<div class="mb-3">
    <a href="{% url 'api_v1:dashboard:add_exercise_perform' %}" class="btn btn-outline-dark"><i class="bx bx-plus"></i> Add Exercise Perform</a>
</div>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Header</th>
            <th scope="col">Description</th>
            <th scope="col">Step No</th>
            <th scope="col">Exercises</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>       
        {% if perform_data %}
        {% for perform in perform_data %}
            <tr>
                <td>{{ perform.id }}</td>
                <td>{{ perform.header }}</td>
                <td>{{ perform.description }}</td>
                <td>{{ perform.step_no }}</td>
                <td>
                    <ul>
                        {% for exercise in perform.exercises.all %}
                            <li>{{ exercise.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div class="d-flex">
                        <a href="{% url 'api_v1:dashboard:edit_exerciseperform' perform.id %}" class="btn btn-outline-dark flex-fill"><i class="bx bx-edit"></i> Edit</a>
                        <a href="{% url 'api_v1:dashboard:delete_exerciseperform' perform.id %}" class="btn btn-outline-danger flex-fill"><i class="bx bx-trash"></i> Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">No exercise perform found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}