{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Workout Schedules</h1>
<br>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Workout Schedule ID</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Workout</th>
            <th scope="col">User</th>
            <th scope="col">Notification Note</th>
            <th scope="col">Notify Status</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>       
        {% if workout_schedule_data %}
        {% for schedule in workout_schedule_data %}
            <tr>
                <td>{{ schedule.id }}</td>
                <td>{{ schedule.date }}</td>
                <td>{{ schedule.time }}</td>
                <td>{{ schedule.workout.name }}</td>
                <td>{{ schedule.user.username }}</td>
                <td>{{ schedule.notification_note }}</td>
                <td>{{ schedule.notify_status }}</td>
                <td>{{ schedule.status }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7">No workout schedules found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}