{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Workout Schedules</h1>
<br>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Workout Schedule ID</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Workout</th>
            <th scope="col">User</th>
            <th scope="col">Notification Note</th>
            <th scope="col">Notify Status</th>
            <th scope="col">Status</th>
            <th scope="col">Send Notification</th>
            <th scope="col">Check Notification</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>       
        {% if workout_schedule_data %}
        {% for schedule in workout_schedule_data %}
            <tr>
                <td>{{ schedule.id }}</td>
                <td>{{ schedule.date }}</td>
                <td>{{ schedule.time }}</td>
                <td>{{ schedule.workout.name }}</td>
                <td>{{ schedule.user.username }}</td>
                <td>{{ schedule.notification_note }}</td>
                <td>{% if schedule.notify_status  %}
                        <i class='bx bx-check-circle text-success'></i>
                    {% else %}
                        <i class='bx bx-x-circle text-danger'></i>
                    {% endif %}
                </td>
                <td>{{ schedule.status }}</td>
                <td>
                    {% if schedule.check_notification  %}
                        <i class='bx bx-check-circle text-success'></i>
                    {% else %}
                        <i class='bx bx-x-circle text-danger'></i>
                    {% endif %}
                </td>
                <td>
                    {% if schedule.send_notification  %}
                        <i class='bx bx-check-circle text-success'></i>
                    {% else %}
                        <i class='bx bx-x-circle text-danger'></i>
                    {% endif %}
                </td>
                <td>
                    <div class="d-flex">
                        <a href="{% url 'api_v1:dashboard:edit_workout_schedule' schedule.id %}" class="btn btn-outline-dark flex-fill"><i class="bx bx-edit"></i> Edit</a>
                        <a href="{% url 'api_v1:dashboard:delete_workout_schedule' schedule.id %}" class="btn btn-outline-danger flex-fill"><i class="bx bx-trash"></i> Delete</a>
                    </div>                    
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="9">No workout schedules found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}