{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Exercises</h1>
<br>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Exercise ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Calories Burn</th>
            <th scope="col">Custom Repeats</th>
            <th scope="col">Time Required</th>
        </tr>
    </thead>
    <tbody>       
        {% if exercise_data %}
        {% for exercise in exercise_data %}
            <tr>
                <td>{{ exercise.id }}</td>
                <td><img src="{{ exercise.exercise_image.url }}" alt="{{ exercise.name }}" width="120" height="120"></td>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.description }}</td>
                <td>{{ exercise.difficulty }}</td>
                <td>{{ exercise.calories_burn }}</td>
                <td>{{ exercise.custom_repeats }}</td>
                <td>{{ exercise.time_required }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7">No exercises found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}