{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Sensor Data</h1>
<br>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Sensor Data ID</th>
            <th scope="col">User ID</th>
            <th scope="col">User Name</th>
            <th scope="col">Data</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Predicted Activity</th>
        </tr>
    </thead>
    <tbody>       
        {% if sensor_data %}
        {% for data_entry in sensor_data %}
            <tr>
                <td>{{ data_entry.id }}</td>
                <td>{{ data_entry.user.id }}</td>
                <td>{{ data_entry.user.username }}</td>
                <td>{{ data_entry.data }}</td>
                <td>{{ data_entry.date_and_time }}</td>
                <td>{{ data_entry.predicted_activity }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">No sensor data found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}