{% extends 'dashboard/base.html' %}
{% block content %}

<h1>All Water Intake Data</h1>
<br>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Water Intake Data ID</th>
            <th scope="col">User ID</th>
            <th scope="col">User Name</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Quantity</th>
            <th scope="col">Notify</th>
        </tr>
    </thead>
    <tbody>       
        {% if water_intake_data %}
        {% for intake_entry in water_intake_data %}
            <tr>
                <td>{{ intake_entry.id }}</td>
                <td>{{ intake_entry.user.id }}</td>
                <td>{{ intake_entry.user.username }}</td>
                <td>{{ intake_entry.date_time }}</td>
                <td>{{ intake_entry.quantity }}</td>
                <td>{{ intake_entry.notify }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">No water intake data found</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}